---
layout: page
title: Ole Miss Rebels
shortTitle: Ole Miss
permalink: ole-miss-rebels 
comments: true
keywords: mississippi, ole miss, rebels
---

<div class="container-fluid">
    <div class="row">
        {% include google-side-ad.html %}
        <div class="col-md-6 schedule-main">            
            {% for schedule in site.data.ole-miss.schedule.opponent %}
            <div class="row">
                <div class="col-md-5">
                    {% if schedule.location == "*" %}
                        <h2>vs {{ schedule.name }}</h2>
                    {% else %}
                        <h2>at {{ schedule.name }}</h2>
                    {%endif %}     
                    <div class="date dateformat">{{ schedule.date }}</div>  
                </div>
                <div class="col-md-2 text-center">
                    <img src="{{ schedule.helmetUrl }}" alt="">  
                </div>
                <div class="col-md-5 text-right">
                    {% if schedule.location == "*" %}
                        <h2>{{ site.data.ole-miss.location }}</h2>
                        <div class="time">{{ schedule.time | default: "TBA" }}
                            {% if schedule.station != "" %}
                                &nbsp; &nbsp; <span class="network">{{ schedule.station }}</span>
                            {% endif %}
                            </div>
                    {% else %}
                        <h2>{{ schedule.location }}</h2>
                        <div class="time">{{ schedule.time | default: "TBA" }}
                            {% if schedule.station != "" %}
                                &nbsp; &nbsp; <span class="network">{{ schedule.station }}</span>
                            {% endif %}
                        </div>
                    {%endif %}                  
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 winloss">
                    {%if schedule.lastMeeting != "" and schedule.lastMeeting != "First Meeting" %}
                        The last time these two teams played was <span class="dateformat">{{ schedule.lastMeeting }}</span>. {{ page.shortTitle }} {{ schedule.lastMeetingWinLoss }} the game {{ schedule.lastMeetingResult }}.
                    {% endif %}
                    {%if schedule.lastMeeting == "First Meeting" %}
                        This is the first meeting between {{ page.shortTitle }} and the {{ schedule.nickname }}.
                    {% endif %}
                </div>
            </div>
            <hr />
            {% endfor %}
        </div>
        <div class="col-md-3">
            <aside class="well schedule-aside hide-mobile">
               <h3 class="text-center">{{ site.data.ole-miss.name }}</h3>
               <div class="text-center"><img src="{{ site.data.ole-miss.helmetUrl }}" alt="helmet"></div>
               <div class="margin-top-20">
                <p>The {{ site.data.ole-miss.name }} is located in {{ site.data.ole-miss.location }}.</p>
                <p>The {{ site.data.ole-miss.nickname }} plays their home games 
                at {{ site.data.ole-miss.stadiumName }}.</p>
                <p>The head coach is {{ site.data.ole-miss.headCoach }}.</p>
                <p>If you ever attend a game at {{ site.data.ole-miss.stadiumName }} you may catch a glimpse of {{ site.data.ole-miss.mascot }}, the team's mascot.</p>
                <h3 class="text-center"><i>{{ site.data.ole-miss.slogan }}</i></h3>
               </div>
            </aside>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% if site.disqus_shortname %}
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname  = '{{ site.disqus_shortname }}';
    var disqus_identifier = '{{ page.id }}';
    var disqus_title      = {{ page.title | jsonify }};

    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

