 <nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% assign default_paths = site.pages | map: "path" %} {% assign page_paths = site.header_pages |
        default: default_paths %}
        <a class="navbar-brand" href="{{ "./" | relative_url }}">
        {{ site.title | escape }}
      </a>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- sec-header -->
<ins class="adsbygoogle"
     style="display:inline-block;width:320px;height:50px"
     data-ad-client="ca-pub-9883915686867544"
     data-ad-slot="4330519425"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
        </li>
        <li><a href="/news/notes/">News & Notes</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/privacy/">Privacy</a></li>
      </ul>
    </div>
  </div>
</nav> 