html, body {
    font-size: 18pt;
    height: 100%;
    margin: 0;
}

img { 
    border: 0;
}

a, a:hover, a:active {
    text-decoration: none;
}

.page-content {
    min-height: calc(100vh - 220px);
}

.small-device-ad {
    display: none;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 18px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.nav_page {
    margin-top: 20px;
}

.site-footer {
    text-align: center;
    width:100%;
    background-color: #fff;
    height: 150px;
    padding-top: 10px;
}

.site-footer .disclaimer {
    font-size: 10pt;
    font-style: italic;
}

.bg {
    margin: 0 auto;
    max-width:100%;
    /* height: 500px; */
    /* background-size: 100% 100%; */
    overflow: auto;
    background-color: #fff;
    background-image: url("/assets/back2.png");
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-blend-mode: multiply;
    font-size: 14pt;
}

.well {
    background: rgba(22, 105, 173, 0.5);
    padding: 7px;
    color: #fff;
    text-decoration: none;
}

.well a {
    text-decoration: none;
}

.well a:hover {
    text-decoration: none;
}

.team-name-home {
    font-size: 14pt;
    font-weight: bold;
    font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
}

.team-nickname-home {
    font-size: 12pt;
    font-weight: bold;
    font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    font-weight: bold;
}

.divisions {
    padding-bottom: 10px;
}

.navbar-brand {
    font-family: 'Anton', sans-serif;
    font-size: 24pt;
}

.ad {
    margin: auto 0;
    text-align: center;
}

.schedule-aside {
    font-size: 14pt;
    background-image: url("/assets/back2.png");
    border-radius: 25px;
    width: 80%;
    float: right;
    position: relative;
    right: 20px;
}

.schedule-main h3, h4 {
    color: #000;
}

.schedule-main .header3 {
    font-size: 18pt;
    color: #000;
    font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    font-weight: bold;
    margin-top: 5px;
}

.schedule-main h4 {
    font-size: 16pt;
}

.schedule-main .location {
    font-weight: bold;
}

.schedule-main .location, .time {
    font-size: 12pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #A9A9A9;
}

.schedule-main img {
    margin-top: 20px;
}

.schedule-data {
    padding-bottom: 5px;
}

.schedule-data:nth-child(odd) {
    background-color: #F5F5F5;
}

.open {
    color: #A9A9A9;
    font-size: 10pt;
    font-style: italic;
}

.network {
    color: red;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-20 { 
    margin-bottom: 20px;
}

#teams {
    font-size: 14px;
}

.winloss {
    margin-top: 10px;
    font-size: 10pt;
}

.post-list {
     list-style-type: none;
}

.post-meta {
    font-weight: 300;
    color: #7a7a7a;
    font-style: italic;
    font-family: "Merriweather", "PT Serif", Georgia, "Times New Roman", serif;
}

.post-link {
    font-weight: 600;
    font-size: 1.998rem;
    font-style: normal;
    color: #000;
    font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
}

.post-title {
    text-align: center;
    font-size: 30px;
}

.pagination {
    width: 100%;
    text-align: center;
    opacity: 0.5;
    font-size: 1rem;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 300;
}

.right-border {
    border-right: 2px solid #7a7a7a;
}

.socialmediaicons .fa {
    padding: 5px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    width: 20px;
    color: #fff;
}

.socialmediaicons .large {
    padding: 10px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    width: 50px;
    color: #fff;
}

.socialmediaicons .fa:hover{
    color: #fff;
    opacity: 0.8;
}

.socialmediaicons .fa-facebook {
    background: #3B5998;
}

.socialmediaicons .fa-twitter {
    background: #55ACEE;
}

.socialmediaicons .fa-reddit {
    background: #ff5700;
}

.socialmediaicons .fa-google {
    background: #dd4b39;
}

@media screen and (max-width: 1500px) { 
h1 {
      font-size: 18pt;
  }

  h2 {
      font-size: 16pt;
  }

  .hide-tablet {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }

  .post-title {
    font-size: 24px;
}

    .schedule-main {
    text-align: center;
   }

   .schedule-main .text-right {
       text-align: center;
   }

   .navbar-brand {
    font-size: 18pt;
   }

   .small-device-ad {
       display: block;
   }

   .right-border {
       border-right: 0;
    }
}

@media screen and (max-width: 800px) {
  .hide-mobile {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }

  h1 {
      font-size: 16pt;
  }

  h2 {
      font-size: 14pt;
  }

  .navbar-brand {
    font-size: 12pt;
    text-align: center;
   }

   .post-title {
        font-size: 20px;
    }

   .schedule-main {
    text-align: center;
   }

   .schedule-main .text-right {
       text-align: center;
   }

   .home img {
       display: none;
   }

   .site-footer .disclaimer {
       font-size: 8pt;
   }

   .small-device-ad {
       display: block;
   }

   .right-border {
       border-right: 0;
    }

    .socialmediaicons .large {
        padding: 5px;
        font-size: 12px;
        text-align: center;
        text-decoration: none;
        margin: 10px 2px;
        width: 20px;
        color: #fff;
    }

    table {
        font-size: 10pt;
        margin-right: 5px;
    }
}