---
layout: default
---
<div class="home">
  <div class="text-center bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1>{{ site.year }} {{ site.title }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="row hide-mobile divisions">
            <div class="col-lg-12">
              <h2>SEC West</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <a href="{{ './alabama-crimson-tide' | relative_url }}">
                <div class="well">
                  <h4>Alabama</h4>
                  <h5>Crimson Tide</h5>
                  <img src="./assets/helmets/alabama.png" alt="helmet">
                </div>
              </a>
            </div>
            <div class="col-sm-3">
              <a href="{{ './arkansas-razorbacks' | relative_url }}">
              <div class="well">
                <h4>Arkansas</h4>
                <h5>Razorbacks</h5>
                <img src="./assets/helmets/arkansas.png" alt="helmet">
              </div>
              </a>
            </div>
            <div class="col-sm-3">
              <a href="{{ './auburn-tigers' | relative_url }}">
              <div class="well">
                <h4>Auburn</h4>
                <h5>Tigers</h5>
                <img src="./assets/helmets/auburn.png" alt="helmet">
              </div>
              </a>
            </div>
            <div class="col-sm-3">
              <a href="{{ './lsu-tigers' | relative_url }}">
              <div class="well">
                <h4>LSU</h4>
                <h5>Tigers</h5>
                <img src="./assets/helmets/lsu.png" alt="helmet">
              </div>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
              <a href="{{ './mississippi-state-bulldogs' | relative_url }}">
              <div class="well">
                <h4>Miss State</h4>
                <h5>Bulldogs</h5>
                <img src="./assets/helmets/mississippi-state.png" alt="helmet">
              </div>
              </a>
            </div>
            <div class="col-sm-3">
              <a href="{{ './ole-miss-rebels' | relative_url }}">
              <div class="well">
                <h4>Ole Miss</h4>
                <h5>Rebels</h5>
                <img src="./assets/helmets/ole-miss.png" alt="helmet">
              </div>
              </a>
            </div>
            <div class="col-sm-3">
              <a href="{{ './texas-a-and-m-aggies' | relative_url }}">
              <div class="well">
                <h4>Texas A&M</h4>
                <h5>Aggies</h5>
                <img src="./assets/helmets/texas-a-m.png" alt="helmet">
              </div>
              </a>
            </div>
            <div class="col-sm-2">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row hide-mobile divisions">
            <div class="col-lg-12">
              <h2>SEC East</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <a href="{{ './florida-gators' | relative_url }}">
              <div class="well">
                <h4>Florida</h4>
                <h5>Gators</h5>
                <img src="./assets/helmets/florida.png" alt="helmet">
              </div>
              </a>
            </div>
            <div class="col-sm-3">
              <a href="{{ './georgia-bulldogs' | relative_url }}">
              <div class="well">
                <h4>Georgia</h4>
                <h5>Bulldogs</h5>
                <img src="./assets/helmets/georgia.png" alt="helmet">
              </div>
              </a>
            </div>
            <div class="col-sm-3">
              <a href="{{ './kentucky-wildcats' | relative_url }}">
              <div class="well">
                <h4>Kentucky</h4>
                <h5>Wildcats</h5>
                <img src="./assets/helmets/kentucky.png" alt="helmet">
              </div>
              </a>
            </div>
            <div class="col-sm-3">
              <a href="{{ './missouri-tigers' | relative_url }}">
              <div class="well">
                <h4>Missouri</h4>
                <h5>Tigers</h5>
                <img src="./assets/helmets/missouri.png" alt="helmet">
              </div>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-3">
              <a href="{{ './tennessee-volunteers' | relative_url }}">
              <div class="well">
                <h4>Tennessee</h4>
                <h5>Volunteers</h5>
                <img src="./assets/helmets/tennessee.png" alt="helmet">
              </div>
              </a>
            </div>
            <div class="col-sm-3">
              <a href="{{ './south-carolina-gamecocks' | relative_url }}">
              <div class="well">
                <h4>South Carolina</h4>
                <h5>Gamecocks</h5>
                <img src="./assets/helmets/south-carolina.png" alt="helmet">
              </div>
              </a>
            </div>
            <div class="col-sm-3">
              <a href="{{ './vanderbilt-commodores' | relative_url }}">
              <div class="well">
                <h4>Vanderbilt</h4>
                <h5>Commodores</h5>
                <img src="./assets/helmets/vanderbilt.png" alt="helmet">
              </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>