---
layout: default
---

<div class="home">
  <div class="text-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1>{{ site.year }} {{ site.title }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 right-border">
          <div class="row hide-mobile divisions">
            <div class="col-lg-12">
              <h2>SEC West</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <a href="{{ './alabama-crimson-tide' | relative_url }}">
                <div class="well">
                  <div class="team-name-home">Alabama</div>
                  <div class="team-nickname-home">Crimson Tide</div>
                  <img src="./assets/helmets/alabama.png" alt="Alabama">
                </div>
              </a>
            </div>
            <div class="col-sm-6">
              <a href="{{ './arkansas-razorbacks' | relative_url }}">
              <div class="well">
                <div class="team-name-home">Arkansas</div>
                <div class="team-nickname-home">Razorbacks</div>
                <img src="./assets/helmets/arkansas.png" alt="Arkansas">
              </div>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <a href="{{ './auburn-tigers' | relative_url }}">
              <div class="well">
                <div class="team-name-home">Auburn</div>
                <div class="team-nickname-home">Tigers</div>
                <img src="./assets/helmets/auburn.png" alt="Auburn">
              </div>
              </a>
            </div>
            <div class="col-sm-6">
              <a href="{{ './lsu-tigers' | relative_url }}">
              <div class="well">
                <div class="team-name-home">LSU</div>
                <div class="team-nickname-home">Tigers</div>
                <img src="./assets/helmets/lsu.png" alt="LSU">
              </div>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <a href="{{ './mississippi-state-bulldogs' | relative_url }}">
              <div class="well">
                <div class="team-name-home">Miss State</div>
                <div class="team-nickname-home">Bulldogs</div>
                <img src="./assets/helmets/mississippi-state.png" alt="Mississippi State">
              </div>
              </a>
            </div>
            <div class="col-sm-6">
              <a href="{{ './ole-miss-rebels' | relative_url }}">
              <div class="well">
                <div class="team-name-home">Ole Miss</div>
                <div class="team-nickname-home">Rebels</div>
                <img src="./assets/helmets/ole-miss.png" alt="Ole Miss">
              </div>
              </a>
            </div>
          </div>
          <div class="row">        
            <div class="col-sm-6">
              <a href="{{ './texas-a-and-m-aggies' | relative_url }}">
              <div class="well">
                <div class="team-name-home">Texas A&M</div>
                <div class="team-nickname-home">Aggies</div>
                <img src="./assets/helmets/texas-a-m.png" alt="Texas A&M">
              </div>
              </a>
            </div>
            <div class="col-sm-6">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row hide-mobile divisions">
            <div class="col-lg-12">
              <h2>SEC East</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <a href="{{ './florida-gators' | relative_url }}">
              <div class="well">
                <div class="team-name-home">Florida</div>
                <div class="team-nickname-home">Gators</div>
                <img src="./assets/helmets/florida.png" alt="Florida">
              </div>
              </a>
            </div>
            <div class="col-sm-6">
              <a href="{{ './georgia-bulldogs' | relative_url }}">
              <div class="well">
                <div class="team-name-home">Georgia</div>
                <div class="team-nickname-home">Bulldogs</div>
                <img src="./assets/helmets/georgia.png" alt="Georgia">
              </div>
              </a>
            </div>
          </div>
          <div class="row">          
            <div class="col-sm-6">
              <a href="{{ './kentucky-wildcats' | relative_url }}">
              <div class="well">
                <div class="team-name-home">Kentucky</div>
                <div class="team-nickname-home">Wildcats</div>
                <img src="./assets/helmets/kentucky.png" alt="Kentucky">
              </div>
              </a>
            </div>
            <div class="col-sm-6">
              <a href="{{ './missouri-tigers' | relative_url }}">
              <div class="well">
                <div class="team-name-home">Missouri</div>
                <div class="team-nickname-home">Tigers</div>
                <img src="./assets/helmets/missouri.png" alt="Missouri">
              </div>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <a href="{{ './tennessee-volunteers' | relative_url }}">
              <div class="well">
                <div class="team-name-home">Tennessee</div>
                <div class="team-nickname-home">Volunteers</div>
                <img src="./assets/helmets/tennessee.png" alt="Tennessee">
              </div>
              </a>
            </div>
            <div class="col-sm-6">
              <a href="{{ './south-carolina-gamecocks' | relative_url }}">
              <div class="well">
                <div class="team-name-home">South Carolina</div>
                <div class="team-nickname-home">Gamecocks</div>
                <img src="./assets/helmets/south-carolina.png" alt="South Carolina">
              </div>
              </a>
            </div>           
          </div>
          <div class="row">
            <div class="col-sm-6">
              <a href="{{ './vanderbilt-commodores' | relative_url }}">
              <div class="well">
                <div class="team-name-home">Vanderbilt</div>
                <div class="team-nickname-home">Commodores</div>
                <img src="./assets/helmets/vanderbilt.png" alt="Vanderbilt">
              </div>
              </a>
            </div>
            <div class="col-sm-6"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>