--- 
layout: default 
---
<article class="post">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <header class="post-header text-center">
          <h1 class="post-title">{{ site.year | escape }} {{ page.title | escape }} Football Schedule</h1> 
          <h4 class="division">SEC {{ page.division | escape }} Division 
            <span class="socialmediaicons">
              <a onclick="javascript:window.open(this.href, '', 'menubar=no, toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url}}{{ page.url}}src=sdkpreparse" target="_blank" class="fa fa-facebook fb-xfbml-parse-ignore" data-toggle="tooltip" title="Share on Facebook"></a> 
              <a onclick="javascript:window.open(this.href, '', 'menubar=no, toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" href="http://twitter.com/share?text=View the {{ site.year }} {{ page.title }} Football Schedule&url={{ site.url}}{{ page.url}}" target="_blank" class="fa fa-twitter" data-toggle="tooltip" title="Share on Twitter"></a> 
              <a href="//www.reddit.com/submit" onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false" class="fa fa-reddit" data-toggle="tooltip" title="Share on Reddit"></a>
              <a onclick="javascript:window.open(this.href, '', 'menubar=no, toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" href="https://plus.google.com/share?url={{ site.url}}{{ page.url}}" target="_blank" class="fa fa-google" data-toggle="tooltip" title="Share on Google"></a>
            </span>
          </h4>
        </header>
      </div>
      <div class="col-md-3 margin-top-20">
        <div class="form-group">
          <select id="teams" class="form-control" onchange="Page.teamSelect()">
            <option value="#">View team...</option>
            <option value="alabama-crimson-tide">Alabama Crimson Tide</option>
            <option value="arkansas-razorbacks">Arkansas Razorbacks</option>
            <option value="auburn-tigers">Auburn Tigers</option>
            <option value="florida-gators">Florida Gators</option>
            <option value="georgia-bulldogs">Georgia Bulldogs</option>
            <option value="kentucky-wildcats">Kentucky Wildcats</option>
            <option value="lsu-tigers">LSU Tigers</option>
            <option value="mississippi-state-bulldogs">Mississippi State Bulldogs</option>
            <option value="missouri-tigers">Missouri Tigers</option>
            <option value="ole-miss-rebels">Ole Miss Rebels</option>
            <option value="south-carolina-gamecocks">South Carolina Gamecocks</option>
            <option value="tennessee-volunteers">Tennessee Volunteers</option>
            <option value="texas-a-and-m-aggies">Texas A&M Aggies</option>
            <option value="vanderbilt-commodores">Vanderbilt Commodores</option>
        </select>
        </div>
      </div>
    </div>
  </div>

  <div class="post-content">
    {{ content }}
  </div>

</article>